<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>コールセンター顧客管理システム</title>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css">
<link href="../../static/css/SearchList_style.css" rel="stylesheet" type="text/css">
<!---->


</head>
<body>
    <div class="gradation">
        <h2>コールセンター顧客管理システム</h2>
    </div>
    <div class="main_screen">
        <table>
            <tr>
                <th id="name">氏名</th>
                <th><input type="text" > <!--氏名--></th>
                <th id="call_number">電話番号</th>
                <th><input type="text"> <!--電話番号--></th>
            </tr>
            <tr>
                <th id="street_address">住所  </th>
                <th colspan="3"><input type="text" class="box_size"> <!--住所--></th>
            </tr>
            
        </table>
        <div><input type="button" value="検索"></div>
    </div> 
</body>
</html>