@charset "UTF-8";

.place{
	    margin: 200px auto;
}

.rap{
		white-space: nowrap;
}

.red p{
	color: #f00;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.black{
	text-align: center;
}

.bold {
	font-weight: bold;
}
