@charset "UTF-8";

.form-control{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.alert{
	width: 300px;
	margin: 0 auto;
}


.change_button {
    width: 300px;
    height: 35px;
}

.line{
    width:400px;
    height:420px;
}

.form_place_top{
	width:300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.form_place{
	width:300px;
	margin: 0 auto;
	margin-bottom: 10px;
}