@charset "UTF-8";

.form-control{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.alert{
	width: 300px;
	margin: 0 auto;
}
.parts-right {
	font-weight:bold;
	color: #FFFFFF;
    border: #00bbff solid 1px;
    border-radius: 20px;
    background-color: #00bbff;
    box-shadow: #00bbff 0 0 5px;
}