@charset "UTF-8";

#date{
	font-size:20px;
	higth : 30px;
	width : 900px;
	margin : 0 auto;

}

#name{
	margin : 0 auto;
	width : 900px;
	height : 10px;
	font-size : 40px;
}

table {
  border-collapse: collapse;
  margin : 0 auto;
  text-align : center;
  height : 450px;
}

.headline{
	width : 100px;
}

.sub_content{
	width : 800px;
	height : 20px;
}

.content{
	width : 800px;
	height : 250px;
	padding: 0;
    overflow-y: none;
}

table th, table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}

.new{
	width : 1200px;
	text-align : right;
	margin : 20px;
}

.close{
	text-align : center;
	margin : 20px;
}

.btn_close{   /* ボタンのデザイン設定 */
    background:-webkit-linear-gradient(bottom, #0084ff, #00bfff);
    color: #FFF;
    border-radius: 10px;
    font-weight: bold;
	width : 200px;
}

.btn_new{   /* ボタンのデザイン設定 */
    background:-webkit-linear-gradient(bottom, #0084ff, #00bfff);
    color: #FFF;
    border-radius: 10px;
    font-weight: bold;
	width : 200px;
}

.cont_text{
	position:relative;
	top:3px;
	width : 99.3%;
	height : 100%;
	margin : 0;
}
