@charset "UTF-8";
.place{
	    margin: 0 auto;
	    width:	80%;
	    padding: 300px;
}

.rap{
		white-space: nowrap;
}

.red p{
	color: #f00;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.black{
	text-align: center;
}
