@charset "UTF-8";

.parts{
    width: 300px;
    height: 35px;
    margin-top:5px;
}


.login_form{
    width:400px;
    height:350px;
}

.parts:active {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.parts:hover{
    background:  #65b3fcfd;/*ボタン色*/
}

.form-control{
	width: 300px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.alert{
	width: 300px;
	margin: 0 auto;
}

.position{
	margin-top:20px;
}