<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
	<title>新規顧客登録確認</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.mincss" th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/client.css"/>
</head>
<body>
    <div class="gradation">
            <h2>コールセンター顧客管理システム</h2>
            <div class="id_position">
                <span id="loggedas">ログイン中： <a id="user_id" href="">00000000<!--ユーザID--></a></sapn>
                <form role="form" method="post" th:action="@{/logout}"><button class="logout" type="submit">ログアウト</button></form>
            </div>
	</div>
	<div class="main_screen">
		<form class="inquiry_form rule" method="post" th:action="@{}" th:object="${}">
			
			<h3>新規顧客確認</h3>
			<div class="position">
				<table>
					<tr id="name_tr">
						<td id="table_left">
							<b>氏名</b>
						</td>
						<td id="table_righ">
							　姓 <textarea id="names" readonly></textarea>
							　名 <textarea id="names" readonly></textarea>
						</td>
					</tr>

					<tr id="name_tr">
						<td id="table_left">
							<b>フリガナ</b>
						</td>
						<td id="table_righ">
							　姓 <textarea id="names" readonly></textarea>
							　名 <textarea id="names" readonly></textarea>
						<td>
							<input type="text" id="boxs" readonly th:value="${cutomerForm.lastname">
						</td>
					</tr>

					<tr>
						<td id="table_left" valign="top">
							<b>生年月日</b>
						</td>
						<td>
							<select name="year" id="id_year" class="time_date"></select> 年
                            <select name="month" id="id_month" class="time_date"></select> 月
                            <select name="day" id="id_day" class="time_date"></select> 日
						</td>
					</tr>
					
					<tr id="tel_tr">
						<td id="table_left">
							<b>電話番号</b>
						</td>
						<td id="table_right">
							<textarea id="tel" name="tel" readonly></textarea>
						</td>
					</tr>
					
					<tr id="addresscode_tr">
						<td id="table_left" rowspan="2">
							<b>住所</b>
						</td>
						<td id="table_right">
							〒<textarea id="addresscode" name="addresscode" maxlength="7" readonly></textarea>
						</td>
					</tr>
					<tr id="address_tr">
						<td id="table_right"><textarea id="address" readonly></textarea></td>
					</tr>
				</table>

				<div>
					<table id="table_check">
							<tr id="table_check">
								<td id="table_check"><input class="parts2 btn" type="submit" value="戻る"></td>
								<td id="table_check"><input class="parts2 btn" type="submit" value="確定"></td>
							</tr>
					</table>
				</div>
			</div>
		</form>
    </div>
</body>
</html>