<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8" />
    <title>初回パスワード変更</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.mincss" th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
    <link rel="stylesheet" type="text/css" href="/css/Password_Change_style.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>
        
    </style>
</head>
<body>
   <div class="gradation">
            <h2>コールセンター顧客管理システム</h2>
    </div>
    <div class="main_screen">
        <div class="rule line">
        <div th:if="${param.error}" class="alert alert-danger">
       	〇〇のパスワードが違います。
       	</div>
       	
        <form class="login_form" method="post" th:action="@{/login}" >
	        <p class="form_place_top"><b>現在のパスワード</b></p>
	        <input type="password" class="form-control" name="password" placeholder="Password" required="required" autofocus="autofocus" />
	        <p class="form_place"><b>新しいパスワード</b></p>
	        <input type="password" class="form-control" name="new_password" placeholder="New Password" required="required">
	        <p class="form_place"><b>確認</b></p>
	        <input type="password" class="form-control" name="new_password_check" placeholder="Check Password" required="required">
	        <input class="change_button btn form_place_top" type="submit" value="変更">
        </form>
        
        </div>
   </div>
</body>
</html>
