<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>コールセンター顧客管理システム</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="/css/SearchList_style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="gradation">
		<h2>コールセンター顧客管理システム</h2>
		<form name="logoutLink" method="post" th:action="@{/logout}">
			<div class="id_position">
				<span id="loggedas">ログイン中： <a id="user_id" href="#"
					th:text="${uId}"> <!--ユーザID-->
				</a>
				</span> <a class="logout" href="#" onclick="LogoutLink()">ログアウト</a>
			</div>
		</form>
	</div>

	<div class="main_screen search_screen">
		<div>
			<form name="addCust" method="post" th:action="@{/customer}">
				<input type="hidden" name="uId" th:value="${uId}">
				<a class="registration_button" href="#" onclick="AddCust()"><img src="/img/add.png"> 新規顧客登録</a>
			</form>
		</div>
		<div id="search_table">
			<form method="post" th:action="@{/operation/searching}">
				<input type="hidden" name="uId" th:value="${uId}">
				<!-- add -->
				<div th:if="${param.error}" class="alert alert-danger">
					該当する顧客データがありません。</div>

				<table>
					<tr>
						<th>名字</th>
						<th colspan="2"><input type="text" name="lastName"
							class="box_size"> <!--氏名--></th>
					</tr>
					<tr>
						<th>名前</th>
						<th colspan="2"><input type="text" name="firstName"
							class="box_size"> <!--氏名--></th>
					</tr>
					<tr>
						<th>電話番号</th>
						<th colspan="2"><input type="text" name="tel"
							class="box_size"> <!--電話番号--></th>
					</tr>
					<tr>
						<th>住所</th>
						<th colspan="2"><input type="text" name="address"
							class="box_size"> <!--住所--></th>
					<tr>
						<th colspan="2" class="button_position"><span><input
								type="submit" value="検索" class="search_button btn"></span></th>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		function LogoutLink() {
			var f = document.forms["logoutLink"];
			f.submit();
			return true;
		}
		
		function AddCust() {
			var f = document.forms["addCust"];
			f.submit();
			return true;
		}
	</script>
</body>
</html>
